* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  max-width: 100%;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: #9c9efe;
}
.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.hero nav .logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
.hero nav .logo span {
  color: #9c2d50;
}
.hero nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
.hero nav ul li a {
  color: #1c3879;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 22px;
}
.hero nav ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}
.hero nav .btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.hero nav .btn:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}
.hero .content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.hero .content h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
.hero .content h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
.hero .content h3 span {
  color: #f9004d;
}
.hero .content h4 {
  color: #64777c;
  letter-spacing: 2px;
  font-size: 20px;
}

.about {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 100px 0px;
  background-color: #afb4ff;
}
.about .main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .main img {
  height: auto;
  width: 430px;
}
.about .main .about-text {
  width: 550px;
  margin-left: 10px;
}
.about .main .about-text h2 {
  color: rgb(69, 32, 156);
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about .main .about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about .main .about-text span {
  color: #f9004d;
}
.about .main .about-text p {
  color: #395b64;
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 4px;
}

.contact-me {
  width: 100%;
  height: 660px;
  background-color: #1c3879;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p {
  color: #f4f4f4;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.contact-me .container {
  width: 60%;
  background-color: rgb(155, 153, 155);
  border-radius: 25px;
  box-shadow: 0px 0px 5px #c6cec9;
  /* Green */
  /* Blue */
  /* Red */
  /* Dark Grey */
}
.contact-me .container .skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: rgb(106, 40, 192);
  border-radius: 25px;
}
.contact-me .container .skills:hover {
  opacity: 0.8;
}
.contact-me .container .html {
  width: 90%;
  background-color: #65E838;
  color: #4F51E8;
  font-weight: 800;
}
.contact-me .container .css {
  width: 70%;
  background-color: #65E838;
  color: #4F51E8;
  font-weight: 800;
}
.contact-me .container .js {
  width: 20%;
  background-color: #65E838;
  color: #4F51E8;
  font-weight: 800;
}
.contact-me .container .java {
  width: 60%;
  background-color: #65E838;
  color: #4F51E8;
  font-weight: 800;
}
.contact-me .container .python {
  width: 50%;
  background-color: #65E838;
  color: #4F51E8;
  font-weight: 800;
}

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #0f3d3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer h5 {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
footer .social {
  display: flex;
}
footer .social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
footer .social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;
    width: 100%;
    background-color: #afb4ff;
  }
  .hero nav .logo {
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .hero nav .logo span {
    color: #9c2d50;
  }
  .hero nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 6px 20px;
  }
  .hero nav ul li a {
    color: #1c3879;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
  }
  .hero nav ul li a:hover {
    color: #f9004d;
    transition: 0.4s;
  }
  .hero .content {
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
  }
  .hero .content h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
  }
  .hero .content h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .hero .content h3 span {
    color: #f9004d;
  }
  .hero .content h4 {
    color: #64777c;
    letter-spacing: 1px;
    font-size: 22px;
  }
  .about {
    width: 100%;
    padding: 100px 0px;
    background-color: #afb4ff;
  }
  .about .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about .main img {
    height: auto;
    width: 430px;
  }
  .about .main .about-text {
    width: 550px;
    margin-left: 20px;
  }
  .about .main .about-text h2 {
    color: rgb(69, 32, 156);
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .about .main .about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-transform: capitalize;
  }
  .about .main .about-text span {
    color: #f9004d;
  }
  .about .main .about-text p {
    color: #395b64;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 4px;
  }
}
@media (max-height: 640px) {
  .hero {
    height: 100vh;
    width: 100%;
    background-color: #afb4ff;
  }
  .hero nav .logo {
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .hero nav .logo span {
    color: #9c2d50;
  }
  .hero nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 6px 20px;
  }
  .hero nav ul li a {
    color: #1c3879;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
  }
  .hero nav ul li a:hover {
    color: #f9004d;
    transition: 0.4s;
  }
  .hero .content {
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
  }
  .hero .content h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 45px;
  }
  .hero .content h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .hero .content h3 span {
    color: #f9004d;
  }
  .hero .content h4 {
    color: #64777c;
    letter-spacing: 1px;
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */